	<!-- Vendor Scripts -->
	<script src="/assets1/js/vendor/jquery-3.6.4.min.js"></script>
	<script src="/assets1/js/vendor/bootstrap.bundle.min.js"></script>
	<script src="/assets1/js/vendor/simplebar.min.js"></script>

	<!-- Main Script -->
	<script src="/assets1/js/main.js"></script>
</body>

</html>
