<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="admin, dashboard, crm, analytics, ecommerce, login">
	<meta name="description" content="Login page template for user authentication.">
	<title>Login - Finx Template</title>

	<!-- App favicon -->
	<link rel="shortcut icon" href="/assets1/img/favicon/favicon.ico">

	<!-- Icon CSS -->
	<link href="/assets1/css/vendor/materialdesignicons.min.css" rel="stylesheet">
	<link href="/assets1/css/vendor/remixicon.css" rel="stylesheet">

	<!-- Vendor CSS -->
	<link href="/assets1/css/vendor/bootstrap.min.css" rel="stylesheet">
	<link href="/assets1/css/vendor/simplebar.css" rel="stylesheet">

	<!-- Main CSS -->
	<link id="mainCss" href="/assets1/css/style.css" rel="stylesheet">
	
</head>
