<script src="/kassets/plugins/select2/js/select2.min.js"></script>

<style>
  .sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; /* Optional background color for footer */
    z-index: 1000; /* Ensure the footer is on top */
  }
  .nav-link.text-black {
    color: black !important; /* Change link color to black */
  }
  .nav-link.text-black:hover {
    color: #555; /* Optional: Change the hover color */
  }
</style>
<footer class="footer mt-4 sticky-footer">
  <div class="container-fluid">
    <div class="d-flex justify-content-right flex-column flex-lg-row border-top py-2">
      <span class="text-center text-lg-start">Grabify&copy;2024 </span>
    </div>
  </div>
</footer>
<!-- ...existing code... -->
<link rel="stylesheet" href="/kassets/plugins/bootstrap-icons/font/bootstrap-icons.css" type="text/css">
<link rel="stylesheet" href="/kassets/plugins/fontawesome/css/all.min.css" type="text/css">
<link rel="stylesheet" href="/kassets/plugins/flag-icon-css/css/flag-icons.min.css" type="text/css">
<link rel="stylesheet" href="/kassets/plugins/apexcharts/apexcharts.css" type="text/css">
<link rel="stylesheet" href="/kassets/plugins/daterangepicker/daterangepicker.css" type="text/css">
<!-- Core JS: jQuery, Bootstrap bundle -->
<script src="/kassets/js/vendor.min.js"></script>
<!-- Plugins -->
<script src="/kassets/plugins/datatables.net/jquery.dataTables.min.js"></script>
<script src="/kassets/plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="/kassets/plugins/datatables.net-select/js/dataTables.select.min.js"></script>
<script src="/kassets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/kassets/plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>

<!-- Main JS -->
<script src="/kassets/js/main-admin.min.js"></script>


<!-- ...existing code... -->