<footer class="footer">
    
    <div class="container">
       
        <p class="pull-left">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Grabify </p>
    </div>
</footer>

<style>
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}
.footer-bottom {
    padding: 10px 0;
}
</style>

<!-- Le javascript
================================================== -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/tassets/js/jquery/jquery-2.1.3.min.js">
        
        </script>
<script src="/tassets/bootstrap/js/bootstrap.min.js"></script>
<!-- include  parallax plugin -->
<script type="text/javascript" src="/tassets/js/jquery.parallax-1.1.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="/tassets/js/helper-plugins/jquery.mousewheel.min.js"></script>

<!-- include mCustomScrollbar plugin //Custom Scrollbar  -->

<script type="text/javascript" src="/tassets/js/jquery.mCustomScrollbar.js"></script>

<!-- include icheck plugin // customized checkboxes and radio buttons   -->
<script type="text/javascript" src="/tassets/plugins/icheck-1.x/icheck.min.js"></script>

<!-- include grid.js // for equal Div height  -->
<script src="/tassets/plugins/jquery-match-height-master/dist/jquery.matchHeight-min.js"></script>
<script src="/tassets/js/grids.js"></script>

<!-- include carousel slider plugin  -->
<script src="/tassets/js/owl.carousel.min.js"></script>

<!-- jQuery select2 // custom select   -->
<script src="../../../../cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

<!-- include touchspin.js // touch friendly input spinner component   -->
<script src="/tassets/js/bootstrap.touchspin.js"></script>

<!-- include custom script for site  -->
<script src="/tassets/js/script.js"></script>
</body>

<!-- Mirrored from templatecycle.com/tshop/v6/gray/account.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 23 Dec 2024 04:11:16 GMT -->
</html>
