<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from krait-ui.themeineed.com/pages/admin/customers.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 08 Dec 2024 03:13:47 GMT -->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>Krait UI Admin</title>
  <!-- Plugins -->
  <link rel="stylesheet" href="/kassets/plugins/bootstrap-icons/font/bootstrap-icons.css" type="text/css">
  <link rel="stylesheet" href="/kassets/plugins/fontawesome/css/all.min.css" type="text/css">
  <link rel="stylesheet" href="/kassets/plugins/flag-icon-css/css/flag-icons.min.css" type="text/css">
  <link rel="stylesheet" href="/kassets/plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css" type="text/css">
  <link rel="stylesheet" href="/kassets/plugins/datatables.net-select-bs5/css/select.bootstrap5.min.css" type="text/css">
  <link rel="stylesheet" href="/kassets/plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" type="text/css">
  <!-- Theme -->
  <link rel="stylesheet" href="/kassets/css/main.min.css" type="text/css">
  <!-- Fonts and favicon -->
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&amp;display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/kassets/images/favicon.png">
</head>
<body class="admin">