<%- include('../partials/grabifyheader.ejs') %>


<div class="container main-container headerOffset">

    <div class="row">

        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="/user/home">Home</a></li>
                <li><a href="/user/myaccount">My Account</a></li>
                <li class="active"> Add Address</li>
            </ul>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7">

            <h1 class="section-title-inner"><span><i class="fa fa-map-marker"></i> Add Your addresses </span></h1>

            <div class="row userInfo">


                <div class="col-lg-12 col-xs-12">
                    <h2 class="block-title-2"> To add a new address, please fill out the form below. </h2>

                    <p class="required"><sup>*</sup> Required field</p>
                </div>

                <form action="/user/addAddress" method="POST" id="addAddressForm">

                    <div class="col-xs-12 col-sm-6">


                        <div class="form-group required">
                            <label for="InputName">First Name <sup>*</sup> </label>
                            <input required type="text" class="form-control" id="InputName" name="firstName" placeholder="First Name">
                        </div>

                        <div class="form-group required">
                            <label for="InputLastName">Last Name <sup>*</sup> </label>
                            <input required type="text" class="form-control" id="InputLastName" name="lastName" placeholder="Last Name">
                        </div>

                        <div class="form-group">
                            <label for="InputCompany">Company </label>
                            <input type="text" class="form-control" id="InputCompany" name="company" placeholder="Company">
                        </div>


                        <div class="form-group required">
                            <label for="InputAddress">Address <sup>*</sup> </label>
                            <input required type="text" class="form-control" id="InputAddress" name="street" placeholder="Address">
                        </div>
                        <div class="form-group">
                            <label for="InputAddress2">Address (Line 2) </label>
                            <input type="text" class="form-control" id="InputAddress2" name="addressLine2" placeholder="Address">
                        </div>

                        <div class="form-group required">
                            <label for="InputCity">City <sup>*</sup> </label>
                            <input required type="text" class="form-control" id="InputCity" name="city" placeholder="City">
                        </div>


                        <div class="form-group required">
                            <label for="InputState">State <sup>*</sup> </label>
                            <input required type="text" class="form-control" id="InputState" name="state" placeholder="State">
                        </div>


                        <div class="form-group required">
                            <label for="InputZip">Zip / Postal Code <sup>*</sup> </label>
                            <input required type="text" class="form-control" id="InputZip" name="pincode" placeholder="Zip / Postal Code">
                        </div>


                        <div class="form-group required">
                            <label for="InputCountry">Country <sup>*</sup> </label>
                            <input required type="text" class="form-control" id="InputCountry" name="country" placeholder="Country">
                        </div>


                    </div>


                    <div class="col-xs-12 col-sm-6">


                        <div class="form-group">
                            <label for="InputAdditionalInformation">Additional information</label>
                            <textarea rows="3" cols="26" name="additionalInformation" class="form-control" id="InputAdditionalInformation"></textarea>
                        </div>

                        <div class="form-group required">
                            <label for="InputMobile">Mobile phone <sup>*</sup></label>
                            <input required type="tel" name="number" class="form-control" id="InputMobile">

                        </div>


                        <div class="form-group required">
                            <label for="addressAlias">Please assign an address title for future reference. <sup>*</sup></label>

                            <input required type="text" value="My address" name="addressAlias" class="form-control" id="addressAlias">

                        </div>


                    </div>

                    <div class="col-lg-12 col-xs-12 clearfix">
                        <button type="submit" class="btn   btn-primary"><i class="fa fa-map-marker"></i> Save Address
                        </button>
                    </div>

                </form>


                <div class="col-lg-12 col-xs-12  clearfix ">

                    <ul class="pager">
                        <li class="previous pull-right"><a href="/user/home"> <i class="fa fa-home"></i> Go to Shop </a>
                        </li>
                        <li class="next pull-left"><a href="/user/myaddress">&larr; Back to My Address</a></li>
                    </ul>
                </div>


            </div>
            <!--/row end-->


        </div>
        <div class="col-lg-3 col-md-3 col-sm-5">
        </div>


    </div>
    <!--/row-->


    <div style="clear:both"></div>
</div>
<!-- /wrapper -->

<div class="gap"></div>

<!-- SweetAlert2 CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.getElementById('addAddressForm').addEventListener('submit', async function(event) {
        event.preventDefault();
        
        const firstName = document.getElementById('InputName').value;
        const lastName = document.getElementById('InputLastName').value;
        const address = document.getElementById('InputAddress').value;
        const city = document.getElementById('InputCity').value;
        const state = document.getElementById('InputState').value;
        const postalCode = document.getElementById('InputZip').value;
        const country = document.getElementById('InputCountry').value;
        const mobilePhone = document.getElementById('InputMobile').value;
        const addressAlias = document.getElementById('addressAlias').value;

        const nameRegex = /^[A-Za-z\s]+$/;
        const postalCodeRegex = /^[0-9]+$/;
        const mobilePhoneRegex = /^[0-9]+$/;

        if (!nameRegex.test(firstName)) {
            Swal.fire('Error', 'First Name should contain only alphabets and spaces.', 'error');
            return;
        }
        if (!nameRegex.test(lastName)) {
            Swal.fire('Error', 'Last Name should contain only alphabets.', 'error');
            return;
        }
        if (address.trim() === '') {
            Swal.fire('Error', 'Address is required.', 'error');
            return;
        }
        if (city.trim() === '') {
            Swal.fire('Error', 'City is required.', 'error');
            return;
        }
        if (state.trim() === '') {
            Swal.fire('Error', 'State is required.', 'error');
            return;
        }
        if (!postalCodeRegex.test(postalCode)) {
            Swal.fire('Error', 'Postal Code should be a number.', 'error');
            return;
        }
        if (country.trim() === '') {
            Swal.fire('Error', 'Country is required.', 'error');
            return;
        }
        if (!mobilePhoneRegex.test(mobilePhone)) {
            Swal.fire('Error', 'Mobile Phone should be a number.', 'error');
            return;
        }

        try {
            const response = await fetch('/user/addAddress', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams({
                    firstName,
                    lastName,
                    company: document.getElementById('InputCompany').value,
                    street: address,
                    addressLine2: document.getElementById('InputAddress2').value,
                    city,
                    state,
                    country,
                    pincode: postalCode,
                    additionalInformation: document.getElementById('InputAdditionalInformation').value,
                    number: mobilePhone,
                    addressAlias
                })
            });

            const result = await response.json();
            if (response.status === 400) {
                Swal.fire('Error', result.message, 'error');
            } else {
                Swal.fire({
                    title: 'Success',
                    text: 'Your address has been added successfully!',
                    icon: 'success',
                    confirmButtonText: 'OK'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '/user/myAddress';
                    }
                });
            }
        } catch (error) {
            window.location.href = '/user/myAddress';
        }
    });
</script>

<%- include('../partials/grabifyfooter.ejs') %>