 <!-- Navbar -->
 <link rel="stylesheet" href="/styles/userHome.css">
    <div class="navbar">
        <h1>user Dashboard</h1>
        <a href="/user/logout">
        <button class="logout-btn">Logout</button>
        </a>
        
    </div>

    <!-- Hero Section with Background Image -->
    <div class="hero">
        <!-- Welcome Card -->
        <div class="welcome-card">
            <h2>this is user Dashboard</h2>
            <p>Please wait</p>
            <button class="subscribe-btn">work under progress</button>
        </div>
    </div>